<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task App</title>
</head>
<body>
    
    <h1>Update your Notes</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="content">Content: </label>
        <input type="text" id="content" placeholder="Enter Your Note" name="content" value={{task.content}}>

        <input type="submit" value="Update">
    </form>

    <hr>

</body>
</html>